.container {
  width: 327px;
  height: 56px;
  background-color: var(--blue);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
}

.container > h6 {
  color: var(--white);
}
