* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #080e1e;
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
  --deep-blue: #410fa3;
  --blue: #5b7bfe;
  --orange: #f76400;
  --green: #5ba890;
  --light-blue: #dbf6ff;
  --light-cream: #fff6eb;
  --red: #d6185d;
  --white: #ffffff;
  --gray-light: #e5e5e5;
  --gray-dark: #656872;
  --dark: #080e1e;
  --dark-light: #1b2336;
  --dark-lighter: #363b44;
  --green-blue: #00b5ae;
}
