.container {
  width: 100%;
}

.splash {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #410fa3;
  gap: 20px;
  animation: fadeOutContent 0.5s forwards;
  animation-delay: 2s;
}

.splash > h1 {
  color: #fff;
}

.content {
  animation: fadeInContent 0.5s forwards;
}

@keyframes fadeOutContent {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeInContent {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
